In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("gradient descent.csv")
df

            x          y
0   48.955889  60.723602
1   44.687196  82.892504
2   60.297327  97.379897
3   45.618644  48.847153
4   38.816818  56.877213
..        ...        ...
94  50.030174  81.536991
95  49.239765  72.111832
96  50.039576  85.232007
97  48.149859  66.224958
98  25.128485  53.454394

[99 rows x 2 columns]

In [3]:
x=df["x"]
y=df["y"]

In [4]:
m=0
c=0
Learning_R = 0.0001
n = int(len(x))
iteration = 1000
for i in range(iteration):
    y_prediction = m * x + c
    div_m = (-2/n) * sum(x*(y-y_prediction))
    div_c = (-2/n) * sum(y-y_prediction)
    m = m-(Learning_R*div_m)
    c = c-(Learning_R*div_c)
    
print(m,c)

1.4796491688881985 0.10148121497503648

In [8]:
x=float(input('Enter the value of x:'))
y = 1.4796491688881985 * x + 0.10148121497503648
print(y)

Enter the value of x:38.816818
57.5367537075595